<p id="notice"><%= notice %></p>

<%= content_tag "div", id: "board2", data: {board2: @board2} do %>
  Loading board2...
<% end %>

<p>
  <b>Nrows:</b>
  <%= @board2.nrows %>
</p>

<p>
  <b>Ncolumns:</b>
  <%= @board2.ncolumns %>
</p>

<p>
  <b>Percent live:</b>
  <%= @board2.percentLive %>
</p>

<p>
	<%=raw $board.to_html %> 
</p>

<p>
	Number of generations: <%= $board.ngenerations %>
</p>

<%= link_to 'Edit', edit_board2_path(@board2) %> |
<%= link_to 'Back', board2s_path %> | 
<%= link_to 'Restart Game', "/board2s/#{@board2.id}" %> |
<%= link_to 'Evolve', "/board2s/#{@board2.id}?evolve=true" %>

    		